body{
    background: rgb(255,200,221);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.Etch-a-Sketch{
    background-color: crimson;
    border-radius: 50px;
    width: 1000px;
    height: 700px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color:rgb(255,183,3);
    font-weight: 800;
    font-size: 40px;
    font-family: 'Lobster', 'cursive';
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
